.exhibitions-cover {
  @include cover();
  background-image: url("../images/ex-cover.jpg");
}

.exhibitions-container {
  @include container();
  margin-bottom: 100px;
}

.exhibitions-title {
  margin: 80px 0;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.exhibitions-text {
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  // text-align: center;
}

.exhibitions-link {
  color: $color-accent;
  text-decoration: none;
  transition: all .3s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);

    &:hover {
      color: rgb($color-accent, .7);
    }
}
