.exhibitions-cover {
  @include cover();
  background-image: url("../images/ex-cover.jpg");

  @media (max-width: $tablet-max) {
    background-attachment: scroll;
  }
}

.exhibitions-container {
  @include container();
  margin-bottom: 100px;

  @media (max-width: $mobile-max) {
    margin-bottom: 60px;
  }
}

.exhibitions-title {
  margin: 80px 0;
  font-size: 30px;
  font-weight: 600;
  text-align: center;

  &::selection {
    color: $color-light;
    background-color: $color-dark;
  }

  @media (max-width: $tablet-max) {
    margin: 60px 0;
    font-size: 26px;
  }

  @media (max-width: $mobile-max) {
    font-size: 24px;
  }
}

.exhibitions-text {
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;

  &::selection {
    color: $color-light;
    background-color: $color-dark;
  }

  b::selection {
    color: $color-light;
    background-color: $color-dark;
  }
}

.exhibitions-link {
  color: $color-accent;
  text-decoration: none;
  transition: all .3s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);

  &::selection {
    color: $color-light;
    background-color: $color-dark;
  }

  &:hover {
    color: rgb($color-accent, .7);
  }
}
