.header {
  padding: 35px 0;
}

.header-container {
  @include container;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-size: 30px;
  font-weight: 700;
  color: $color-dark;
  text-decoration: none;
}
