.inner-landscapes-cover {
  @include cover();
  background-image: url("../images/il-cover.jpg");
}

.inner-landscapes-container {
  @include container();
}

.inner-landscapes-title {
  margin-top: 80px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.inner-landscapes-desc {
  margin-top: 35px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}

.inner-landscapes-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 65px -15px 100px -15px;
}

.inner-landscapes-item {
  flex-basis: 33.33%;
  padding: 15px;
}

.inner-landscapes-img {
  margin: 0 auto;
  max-height: 400px;
  object-fit: contain;
}
