.inner-landscapes-cover {
  @include cover();
  background-image: url("../images/il-cover.jpg");

  @media (max-width: $tablet-max) {
    background-attachment: scroll;
  }

  @media (max-width: $mobile-max) {

  }
}

.inner-landscapes-container {
  @include container();
}

.inner-landscapes-title {
  margin-top: 80px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;

  @media (max-width: $tablet-max) {
    margin-top: 60px;
    font-size: 26px;
  }

  @media (max-width: $mobile-max) {
    font-size: 24px;
  }
}

.inner-landscapes-desc {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;

  @media (max-width: $tablet-max) {
    margin-top: 25px;

  }

  @media (max-width: $mobile-max) {

  }
}

.inner-landscapes-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 65px -15px 100px -15px;

  @media (max-width: $tablet-max) {
    margin: 40px -20px 60px -20px;
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 40px;
  }
}

.inner-landscapes-item {
  flex-basis: 33.33%;
  padding: 15px;

  @media (max-width: $tablet-max) {
    flex-basis: 50%;
    padding: 20px;
  }

  @media (max-width: $mobile-max) {

  }
}

.inner-landscapes-img {
  margin: 0 auto;
  max-height: 400px;
  object-fit: contain;

  @media (max-width: $tablet-max) {
    max-height: 300px;
  }

  @media (max-width: $mobile-max) {
    max-height: 200px;
  }
}
