.lost-in-turkey-cover {
 @include cover();
 background-image: url("../images/lit-cover.jpg");
 background-position: bottom;

 @media (max-width: $tablet-max) {
  background-attachment: scroll;
}

@media (max-width: $mobile-max) {

}
}

.lost-in-turkey-container {
  @include container();
}

.lost-in-turkey-title {
  margin-top: 80px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.lost-in-turkey-desc {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}

.lost-in-turkey-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 65px -15px 100px -15px;
}

.lost-in-turkey-item {
  flex-basis: 33.33%;
  padding: 15px;
}

.lost-in-turkey-img {
  margin: 0 auto;
  max-height: 400px;
  object-fit: contain;
}
