.nav {

  ul {
    display: flex;
    list-style: none;
  }

  li {
    margin-left: 35px;
  }

  a {
    font-size: 20px;
    color: $color-dark;
    text-decoration: none;
    transition: all .2s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);

    &:hover {
      color: $color-accent;
    }
  }
}
