.selected-works-cover {
  @include cover();
  background-image: url("../images/sw-cover.jpg");
}

.selected-works-container {
  @include container();
}

.selected-works-title {
  margin-top: 80px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.selected-works-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 65px -15px 100px -15px;
  border: 1px solid aqua;
}

.selected-works-item {
  flex-basis: 33.33%;
  padding: 15px;
}

.selected-works-img {
  margin: 0 auto;
  max-height: 400px;
  object-fit: contain;
}
