.social {
  display: flex;
  list-style: none;
}

.social-item {
  margin: 0 5px 0 5px;
}

.social-link {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: .6;

  &:hover {
    opacity: 1;
  }

  @media (max-width: $tablet-max) {

  }

  @media (max-width: $mobile-max) {
    width: 23px;
    height: 23px;
  }
}
