* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
 font-family: $font;
 color: $color-dark;
 background-color: $color-light;

 &.lock {
  @media (max-width: $tablet-max) {
    overflow: hidden;
  }
 } // убираем скроллинг страницы при открытии меню в таблетках и мобилках
}

img {
  display: block;
  max-width: 100%;
}
