* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
 font-family: $font;
 color: $color-dark;
 background-color: $color-light;
}

img {
  display: block;
  max-width: 100%;
}
