@mixin container($width: 1264px) {
  max-width: $width + $gap;
  margin: 0 auto;
  padding: 0 $gap-half;

  @media (max-width: $tablet-max) {
    padding: 0 20px;
  }
}

@mixin cover() {
  padding: 300px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @media (max-width: $tablet-max) {
    margin-top: 85px;
    padding: 250px 0;
  }

  @media (max-width: $mobile-max) {
    margin-top: 80px;
    padding: 175px 0;
  }
}

