// fonts
$font: 'Albert Sans', sans-serif;

// colors
$color-light: #e4e7e7;
$color-dark: #4a4a4a;
$color-accent: #ce414e;

// indents
$gap: 30px;
$gap-half: 15px;

// breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

$mobile-max: $tablet - 1;
$tablet-max: $desktop - 1;
